
@{
    ViewBag.Title = "Angular";
}
<div ng-app="githubViewer">
    <div ng-controller="MainController">
        <h1>{{message}}</h1>
        <p>Name: {{user.name}}</p>
        <p>Location: {{user.location}}</p>
        <input ng-model="taco" type="text" />
        <button ng-click="MyTacoButton()">Tacos</button>
        <p>My favorite taco is </p>
    </div>
</div>

@section Scripts {
<script data-require="angular.js@1.6.6" data-semver="1.6.6" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>  
<script src="~/Content/cont.js"></script>
    }
